.post {
    border: 1px solid #000;
    border-radius: 8px;
    width: 500px;
    margin-bottom: 20px;
    padding: 10px;
}
.quotes {
    margin-top: 30px;
    display: flex;
}
.link {
    padding-right: 60px;
}